<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3.5rem","bottom":"1rem"},"blockGap":"0.5rem"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:3.5rem;padding-bottom:1rem"><!-- wp:post-title {"level":1,"fontSize":"xx-large"} /-->

<!-- wp:post-date /-->

<!-- wp:spacer {"height":"1.5rem"} -->
<div style="height:1.5rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
